<!-- TEMPLATE -->
<div id="listing_header">
    <div id="row_navigator">
        <div id="prev_and_next">
        <!-- First MAX_ROWS registers --> 
            <div id="first_registers" onmouseover="" style="cursor: pointer;" class="{{ (first!=0) ? 'active' : 'disabled' }}"
                 onclick="window.location='main.php?pg=mant&amp;tb={{tb}}&order={{order}}&first=0&max={{max}}&name={{name}}&desc={{desc}}';">
            Principi</div>
                 
            <div id="prev_registers" onmouseover="" style="cursor: pointer;" class="{{ (first!=0) ? 'active' : 'disabled' }}" 
                   onclick="window.location='main.php?pg=mant&amp;tb={{tb}}&order={{order}}&first={{first-max}}&max={{max}}&name={{name}}&desc={{desc}}';">
            Previs</div>
            <!-- Next MAX_ROWS registers --> 
            <div id="next_registers" onmouseover="" style="cursor: pointer;" class="{{ ((first + max) < totalFiles ) ? 'active' : 'disabled' }}"
                   onclick="window.location='main.php?pg=mant&amp;tb={{tb}}&order={{order}}&first={{first+max}}&max={{max}}&name={{name}}&desc={{desc}}';">
            Pròxs.</div>
        </div>
        <div id="num_of_rows">{{totalFiles}} files</div>
    </div>
    <div class="count_registers">
        <select id="max">
            <option value="5"  {{ (max==5) ? "selected=\"selected\"" : "" }}>5</option>
            <option value="10" {{ (max==10) ? "selected=\"selected\"" : "" }}>10</option>
            <option value="15" {{ (max==15) ? "selected=\"selected\"" : "" }}>15</option>
            <option value="20" {{ (max==20) ? "selected=\"selected\"" : "" }}>20</option>
        </select>
    </div>
</div>

<form enctype="multipart/form-data" id="listForm" method="post"
      action="controllers/_functs.php?f=delN&tb={{tb}}&order={{order}}&first={{first}}&max={{max}}&name={{name}}&desc={{desc}}">
    <table class="listing">
        <thead>
            <tr>
                <th colspan='2'></th>
{% for field in fieldsToShow %}      
                <th class="header">
                   <a href="main.php?pg=mant&tb={{tb}}&order={{field}}&first={{first}}&max={{max}}&name={{name}}&desc={{desc}}">
                      {{field}}
                   </a>
                </th>
{% endfor %}
                <th colspan="2"></th>
            </tr>
        </thead>     
<!-- PRINT ROWS -->
        <tbody>
{% for row in rows %}   
            <tr>
                <td class='numeracio'> {{first + loop.index}} </td>
                <td class="checkbox">
                  <!-- 'name' property used for the form, 'id' property used for javascript -->
                  <input type="checkbox" name="check_list[]" 
                         id="check_list{{loop.index0}}" 
                         value={{row.id}}/>
                </td>
        <!-- PRINT ONE ROW  -->
    {% for field in fieldsToShow %} 
                <td class="{{fieldsClasses[field]}}">
                    {{row[field]|raw}}
                </td>
    {% endfor %}
                <!--  EDIT -->  
                <td class="edit">
                    <a href="main.php?pg=addedit&tb={{tb}}&id={{row.id}}&order={{order}}&first={{first}}&max={{max}}&name={{name}}&desc={{desc}}">
                      <img src="images/edit.jpg" alt="Edit Register"/>
                    </a>
                </td>
                <!--  DELETE  -->
                <td class="delete">
                    <a href="controllers/_functs.php?f=del&tb={{tb}}&id={{row.id}}&order={{order}}&first={{first}}&max={{max}}&name={{name}}&desc={{desc}}" 
                       onclick="return confirm('Segur que voleu eliminar aquesta fila?');">
                        <img src='images/delete.gif' alt='Edit Register'/>
                    </a>
                </td>
            </tr>
{% endfor %}
        </tbody>        
    </table>
</form>